body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.toggle-button {
  padding-top:10px;
  padding-bottom:10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.game > h1 {
  font-size: 40px;
}

.game-info {
  padding-top: 20px;
}

.highlight {
  background: #decf4b;
  color:white;
  font-weight: bold;
}